pre-commit==2.4.0
pylint==2.5.2
pymongo[tls,srv]==3.10.1
virtualenv==20.0.21
boto3==1.14.2
requests
s3urls==0.0.3
Flask==1.1.2
preview-generator==0.14
google-cloud-vision==1.0.0
google-cloud-storage==1.30.0
google-api-python-client==1.10.0
celery==4.4.6
redis==3.5.3
Pillow==7.2.0
img2pdf==0.3.6
sendgrid
sentry-sdk[flask]==0.16.2